# Ignore VSCode
.vscode/

# Ignore JetBrains
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/inspectionProfiles/
out/

# Ignore .NET Core
.DS_Store
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/bundles/
**/BundleConfig.cs
**/BundleConfig.RegisterBundles.cs
**/Global.asax.cs
**/Global.asax.cs.pp
**/*.csproj.user
**/*.csproj.vspscc
**/*.vssscc
**/packages.config
**/project.json
**/project.lock.json
**/project.user
**/project.vsjproj.user
**/project.vsjproj.vspscc
**/webpack.config.js
**/webpack.config.vendor.js
**/webpack.config.vendor.js.map
**/webpack.dll.manifest.json
**/ServiceStack/*.cs

# Ignore Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vssscc

# Ignore JetBrains Rider
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/inspectionProfiles/
out/

# Ignore .NET Core
.DS_Store
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/bundles/
**/BundleConfig.cs
**/BundleConfig.RegisterBundles.cs
**/Global.asax.cs
**/Global.asax.cs.pp
**/*.csproj.user
**/*.csproj.vspscc
**/*.vssscc
**/packages.config
**/project.json
**/project.lock.json
**/project.user
**/project.vsjproj.user
**/project.vsjproj.vspscc
**/webpack.config.js
**/webpack.config.vendor.js
**/webpack.config.vendor.js.map
**/webpack.dll.manifest.json
**/ServiceStack/*.cs

# Ignore Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vssscc
